* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_2 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v8_3 {
  width: 100%;
  height: 100%;
  background: rgba(39,24,126,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v9_7 {
  width: 850px;
  height: 850px;
  background: url("../images/v9_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 42px;
  overflow: hidden;
}
.v9_8 {
  width: 518px;
  height: 112px;
  background: rgba(255,155,44,1);
  opacity: 1;
  position: absolute;
  top: 347px;
  left: 1000px;
  border: 4px solid rgba(255,134,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v9_9 {
  width: 518px;
  height: 112px;
  background: rgba(255,155,44,1);
  opacity: 1;
  position: absolute;
  top: 568px;
  left: 1000px;
  border: 4px solid rgba(255,134,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v9_10 {
  width: 382px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 370px;
  left: 1062px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v9_11 {
  width: 415px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 594px;
  left: 1062px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}

.v14_21 {
  width: 100%;
  height: 1024px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_22 {
  width: 100%;
  height: 100%;
  background: rgba(39,24,126,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v14_23 {
  width: 850px;
  height: 850px;
  background: url("../images/v14_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 115px;
  left: 42px;
  overflow: hidden;
}
.v14_29 {
  width: 514px;
  height: 545px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 291px;
  left: 832px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v20_91 {
  width: 514px;
  height: 545px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 291px;
  left: 832px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v14_34 {
  width: 297px;
  height: 64px;
  background: rgba(255,155,44,1);
  opacity: 1;
  position: absolute;
  top: 745px;
  left: 940px;
  border: 4px solid rgba(255,134,0,1);
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  overflow: hidden;
}
.v14_31 {
  width: 416px;
  height: 65px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 567px;
  left: 881px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_30 {
  width: 416px;
  height: 65px;
  background: rgba(217,217,217,0.699999988079071);
  opacity: 1;
  position: absolute;
  top: 390px;
  left: 878px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v14_32 {
  width: 168px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 314px;
  left: 881px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v14_33 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 487px;
  left: 878px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: left;
}
.v14_35 {
  width: 386px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 660px;
  left: 893px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v14_37 {
  width: 386px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 692px;
  left: 893px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v14_36 {
  width: 186px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 761px;
  left: 996px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v17_76 {
  width: 100%;
  height: 1024px;
  background: rgba(146,162,254,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v20_93 {
  width: 607px;
  height: 760px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 113px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v20_97 {
  width: 343px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 245px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v20_98 {
  width: 289px;
  height: 97px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 929px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v20_94 {
  width: 639px;
  height: 760px;
  background: rgba(217,217,217,0.5);
  opacity: 1;
  position: absolute;
  top: 173px;
  left: 764px;
  border-top-left-radius: 36px;
  border-top-right-radius: 36px;
  border-bottom-left-radius: 36px;
  border-bottom-right-radius: 36px;
  overflow: hidden;
}
.v17_83 {
  width: 100%;
  height: 115px;
  background: rgba(39,24,126,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v19_85 {
  width: 100px;
  height: 100px;
  background: url("../images/v19_85.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 25px;
  overflow: hidden;
}
.v20_88 {
  width: 500px;
  height: 500px;
  background: url("../images/v20_88.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 386px;
  left: 834px;
  overflow: hidden;
}
.v20_89 {
  width: 400px;
  height: 400px;
  background: url("../images/v20_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 135px;
  left: 205px;
  overflow: hidden;
}
.v20_90 {
  width: 500px;
  height: 500px;
  background: url("../images/v20_90.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 386px;
  left: 167px;
  overflow: hidden;
}
.v20_95 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 230px;
  left: 282px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v20_96 {
  width: 269px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 235px;
  left: 939px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v21_101 {
  width: 50px;
  height: 50px;
  background: url("../images/v21_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 25px;
  overflow: hidden;
}
.v21_102 {
  width: 50px;
  height: 50px;
  background: url("../images/v21_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 374px;
  left: 26px;
  overflow: hidden;
}
.v24_2 {
  width: 50px;
  height: 50px;
  background: url("../images/v24_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 185px;
  left: 25px;
  overflow: hidden;
}
.v27_75 {
  width: 50px;
  height: 50px;
  background: url("../images/v27_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 26px;
  overflow: hidden;
}
.v27_100 {
  width: 424px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 32px;
  left: 929px;
  font-family: Noto Serif;
  font-weight: SemiBold;
  font-size: 40px;
  opacity: 1;
  text-align: center;
}
.v27_102 {
  width: 80px;
  height: 80px;
  background: url("../images/v27_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 1313px;
  overflow: hidden;
}
.v33_47 {
  width: 50px;
  height: 50px;
  background: url("../images/v33_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 26px;
  overflow: hidden;
}
.v42_27 {
  width: 50px;
  height: 50px;
  background: url("../images/v42_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 740px;
  left: 26px;
  overflow: hidden;
}
.v72_14 {
  width: 50px;
  height: 50px;
  background: url("../images/v72_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 651px;
  left: 26px;
  overflow: hidden;
}